<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../frontend/template/head %>
      <link rel="stylesheet" href="<%-base_url%>/css/property_detail.css"></link>
</head>

<body>
  <% include ../frontend/template/subnav %>
    <% var page=parseInt(page);
          in_array = function(val, arrayList){ 
                var flag=0;
                arrayList.forEach(function(el){
                  if(el==val) flag++;
                  });
                 return (flag>0) ? 'active' : '';
          }

          review_active_class = function(val, arrayList){
                var flag=0;
                arrayList.forEach(function(el){
                console.log(el.review);
                console.log(val);
                  if(el.review.equals(val) && el.user.equals(req.session.user._id)){ 
                    flag=1;
                  }
                  });
                  console.log("flag "+flag)
              return (flag>0) ? 'active' : '';
          }

          if(req.session.user && req.header('Referer')==req.url){
            backpageUrl='MyListing';
          }else{
            backpageUrl=req.header('Referer');
          }
    %>
      <!-- location-page-daital start -->
      <section class="location-page-daital">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="location_silider">
                <div class="main">
                  <div class="slider slider-for">
                    <%var i = 0;
                    for(i=0;i<propertyImagesList.length;i++){%>
                    <div class="slid-post">
                      <img src="<%-base_url%>/uploads/<%-propertyImagesList[i]%>">
                    </div>
                    <% } %>
                    <!-- <div class="slid-post">
                      <img src="<%-base_url%>/images/img2.jpg">
                    </div>
                    <div class="slid-post">
                      <img src="<%-base_url%>/images/img4.jpg">
                    </div>
                    <div class="slid-post">
                      <img src="<%-base_url%>/images/img5.jpg">
                    </div>
                    <div class="slid-post">
                      <img src="<%-base_url%>/images/img1.jpg">
                    </div>
                    <div class="slid-post">
                      <img src="<%-base_url%>/images/img2.jpg">
                    </div>
                    <div class="slid-post">
                      <img src="<%-base_url%>/images/img2.jpg">
                    </div> -->
                  </div>
                  <div class="slider slider-nav">
                    <%var i = 0;
                    for(i=0;i<thumbImageList.length;i++){%>
                    <div class="slid-post">
                      <img src="<%-base_url%>/uploads/thumbs/<%-thumbImageList[i]%>">
                    </div>
                    <% } %>
                    <!-- <div class="slid-post1">
                      <img src="<%-base_url%>/images/img2.jpg">
                    </div>
                    <div class="slid-post1">
                      <img src="<%-base_url%>/images/img3.jpg">
                    </div>
                    <div class="slid-post1">
                      <img src="<%-base_url%>/images/img4.jpg">
                    </div>
                    <div class="slid-post1">
                      <img src="<%-base_url%>/images/img5.jpg">
                    </div>
                    <div class="slid-post1">
                      <img src="<%-base_url%>/images/img1.jpg">
                    </div>
                    <div class="slid-post1">
                      <img src="<%-base_url%>/images/img2.jpg">
                    </div> -->
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="lombart-sec">
                <div class="lombart-text">
                  <h2 class="text-left">
                    <%-property.property_name%>
                  </h2>
                </div>
                <div class="reviews-text">
                  <ul>
                    <li>
                      <span>
                        <%-property.average_rating%>
                          <i class="fa fa-star" aria-hidden="true"></i>
                      </span>
                    </li>
                    <li>
                      <%-property.total_reviews%> Review</li>
                    <li>
                      <p>
                        <i class="fa fa-signal" aria-hidden="true"></i> Detail</p>
                    </li>
                    <li class="follow_bt">
                      <a href="#">Follow</a>
                    </li>
                 <!--    <% if(req.session.user){ %>
                      <%if(req.session.user.user_type==1){%>
                      <% if(isFollowed==0){ %>
                        <li class="follow_bt">
                          <a href="<%- base_url+'/user/location/follow/'+property._id%>">Follow</a>
                        </li>
                        <% } else{ %>
                          <li class="follow_bt">
                            <a href="javascript:void(0)" onclick="confirmmessage('Are you sure you want to Unfollow this location?','/user/location/unfollow/<%-property._id%>')">UnFollow</a>
                          </li>
                          <% }
                          } }
                        %> -->
                  </ul>
                </div>

                <div class="location_bt">
                  <ul>
                    <li>
                      <span>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                      </span> &nbsp;
                      <%-property.address1+' '+property.address2+' '+property.area+' '+property.country+' '+property.post_code%>
                    </li>
                    <li>
                      <span>
                        <i class="fa fa-tag" aria-hidden="true"></i>
                      </span>
                      <%-property.category_name %>
                    </li>
                    <%if(property.status == 1){%>
                    <li class="verifide-icon" style="background-image: url(<%-base_url%>/images/verifide-icon.png);"></li>
                <% }else if(property.status == 0){ %>
                  <li class="verifide-icon" style="background-image: url(<%-base_url%>/frontend_assets/img/pending_s.png);"></li>
                <% } else if(property.status == 2){ %>
                <li class="verifide-icon" style="background-image: url(<%-base_url%>/frontend_assets/img/suspended_s.png);"></li>
                <% } else {%>
              <li>
              </li>
              <% } %>
                  </ul>
                </div>
                <div class="bounty_post">
                  <img src="<%-base_url+'/images/bounty.png'%>">
                  <div class="bounty_text">
                    <p>20 STT for next follower</p>
                  </div>
                </div>          
                <div class="location-check">
                  <button class="in-check-bt newCheckingModel">Check in</button>
                  <button class="in-check-bt addReviewModel">
                    <span>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </span> Write a Review</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- location-page-daital end -->


      <!-- description-sec strat -->
      <section class="description-sec">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="title-ds">
                <h2 class="border-bottom">description</h2>
                <%-property.property_desc%>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- description-sec end -->

      <!-- our_products-sec strat -->
      <section class="our_products-sec">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="title-ds">
                <h2>Our Products
                  <a href="#" class="view_more_pro">View More Products</a>
                </h2>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <div class="Products-post">
                <div class="post-products" style="background-image: url(<%-base_url%>/images/pizza_hut_voucher_img.png);"></div>


                <h2>
                  <a href="#">Pizza Hut Voucher</a>
                </h2>
                <p>token price
                  <span>20 stt</span>
                </p>

              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <div class="Products-post">
                <div class="post-products " style="background-image: url(<%-base_url%>/images/plazmatic_gift_card_img.png);
              "></div>

                <h2>
                  <a href="#">Plazmatic Gift Card</a>
                </h2>
                <p>token price
                  <span>20 stt</span>
                </p>

              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <div class="Products-post">
                <div class="post-products " style="background-image: url(<%-base_url%>/images/McDonald’s_gift_card_img.png);
             "></div>

                <h2>
                  <a href="#">McDonald's Gift Card</a>
                </h2>
                <p>token price
                  <span>20 stt</span>
                </p>

              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <div class="Products-post">
                <div class="post-products " style="background-image: url(<%-base_url%>/images/levi’s_gift_card_img.png);
              "></div>

                <h2>
                  <a href="#">Levi's Gift Card</a>
                </h2>
                <p>token price
                  <span>20 stt</span>
                </p>

              </div>
            </div>
          </div>
        </div>


      </section>
      <!-- our_products-sec end -->


    <!-- check_ins section strat -->
    <section class="check_ins">
      <div class="container ">
        <div class="row">          
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="title-ds">
              <h2>Reviews and Check-ins</h2>
            </div>
          </div>
    
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="input-group stylish-input-group search-bt">
              <span>
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" placeholder="Search review">
    
            </div>
          </div>
    
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="select_reviews">
              <select class="form-control">
                <option>Sort by</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
    
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="title-bottam"></div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="comment-text">
              <h2>Anonymous</h2>
              <ul>
                <li>
                  <span>1.0
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </span>
                </li>
                <li>05:00PM - Aug 24,2018</li>
                <li class="pencil_iocn">
                   <a href="#" >
                    <img src="/images/edit.png">
                  </a>
                  <a href="#">
                     <img src="/images/delet.png">
                  </a>
                 
                </li>
             
    
              </ul>
    
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                a type specimen book.</p>
              <div class="share-icon">
                <a href="#">
                  <i class="fa fa-share-alt" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                </a>
    
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="comment-text">
              <h2>Harvey Spect</h2>
              <ul>
                <li>
                  <span>1.0
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </span>
                </li>
                <li>05:00PM - Aug 24,2018</li>
               
    
              </ul>
    
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                a type specimen book.</p>
              <div class="share-icon">
                <a href="#">
                  <i class="fa fa-share-alt" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                </a>
    
              </div>
            </div>
          </div>
    
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="comment-text">
              <h2>Jack Bryan</h2>
              <ul>
                <li>
                  <span>1.0
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </span>
                </li>
                <li>05:00PM - Aug 24,2018</li>
               
    
              </ul>
    
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                a type specimen book.</p>
              <div class="share-icon">
                <a href="#">
                  <i class="fa fa-share-alt" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                </a>
    
              </div>
            </div>
          </div>
    
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="comment-text">
              <h2>Jack bryan was - <img src="http://127.0.0.1:8084/images/Feeling/awesome.png"> Feeling Happy with Maya Wade and 2 others at 99 Street</h2>
              <ul>
                <li>05:00PM - Aug 24,2018</li>
              </ul>
              <div class="row thumb_md">
                <div class="col-lg-2 col-md-2 col-xs-12 thumb no_padding">
                  <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="" data-image="<%-base_url%>/images/img5.jpg" data-target="#image-gallery">
                    <img class="img-thumbnail" src="<%-base_url%>/images/img5.jpg" alt="Another alt text">
                  </a>
                </div>
                <div class="col-lg-2 col-md-2 col-xs-12 thumb no_padding">
                  <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="" data-image="<%-base_url%>/images/img5.jpg" data-target="#image-gallery">
                    <img class="img-thumbnail" src="<%-base_url%>/images/img5.jpg" alt="Another alt text">
                  </a>
                </div>
    
                <div class="col-lg-2 col-md-2 col-xs-12 thumb no_padding">
                  <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="" data-image="<%-base_url%>/images/img5.jpg" data-target="#image-gallery">
                    <img class="img-thumbnail" src="<%-base_url%>/images/img5.jpg" alt="Another alt text">
                  </a>
                </div>
    
                <div class="col-lg-offset-8"></div>
              </div>
    
              <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="revstance_modal1 modal-content">
                    <div class="modal-header">
                      <h2>Review images</h2>
                    <h4 class="modal-title" id="image-gallery-title"></h4>
                      <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                      </button>
                    </div>
                    <div class="modal-body modal_padding">
                      <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                    </div>
                    <div class="modal-footer left_arrow_icon">
                      <button type="button" class="btn btn-secondary float-left" id="show-previous-image">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                      </button>
    
                      <button type="button" id="show-next-image" class="btn btn-secondary float-right">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="share-icon">
                <a href="#">
                  <i class="fa fa-share-alt" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                </a>
    
              </div>
            </div>
           </div>
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <div class="comment-text">
                <h2>Maya Wade</h2>
                <ul>
                  <li>
                    <span>1.0
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </span>
                  </li>
                  <li>05:00PM - Aug 24,2018</li>
                  
    
                </ul>
    
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                  make a type specimen book.</p>
                <div class="share-icon">
                  <a href="#">
                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                  </a>
    
                </div>
              </div>
            </div>
    
            <div class="read_more">
            <a href="#">Load More....</a>
          </div>
        </div>
    </section>
    <!-- check_ins section end -->

     
      
      <div class="modal fade" id="addReviewModel" tabindex="-1" role="dialog" aria-labelledby="addReviewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="revstance_modal modal-content">
              <div class="modal-body">
                <div class="container">
                  <div class="check_close">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="row">
                    <form method="post" action="/addreview" name="addReviewform" id="addReviewform" enctype="multipart/form-data">
                      <input type="hidden" name="propertyId" id="propId" value="<%=property.id%>">
                      <input type="hidden" name="property" id="propertyId" value="<%=property._id%>">
              
                      <div class="review-title">
                        <h2 class="edit-title text-left">Add Review</h2>
                      </div>
                      <div class="feeling-happy"></div>
                      <div class="row review-titles">
                        <div class="col-lg-12 form-group" id="addreviewres_msg"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                          <h3 class="post-title">Post review as</h3>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="guest">
                          <h3 class="post-title">
                            <label for="btn-radio1">
                              <span>
                                <input type="radio" name="reviewUserName" class="radio-btn" id="btn-radio1" value="0" />
                              </span>
                              Anonymous
                            </label>
                          </h3>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                          <h3 class="post-title">
                            <label for="btn-radio2">
                              <span class="checked">
                                <input type="radio" name="reviewUserName" class="radio-btn" id="btn-radio2" checked="checked" value="1">
                              </span>
                              You
                            </label>
                          </h3>
                        </div>
                        <div class="col-lg-12">
                          <div class="rating_left">
                            <h2>Rating</h2>
                          </div>
                          <div class="rating_right">
                            <div class="review rate-us">
                              <div class="checkinForm form-group">
                                <div class="stars" id="modalstar">
                                  <input type="radio" name="addstar" class="star-1" id="addstar-21" value="1">
                                  <label class="star-1" for="addstar-21">1</label>
                                  <input type="radio" name="addstar" class="star-2" id="addstar-22" value="2">
                                  <label class="star-2" for="addstar-22">2</label>
                                  <input type="radio" name="addstar" class="star-3" id="addstar-23" value="3">
                                  <label class="star-3" for="addstar-23">3</label>
                                  <input type="radio" name="addstar" class="star-4" id="addstar-24" value="4">
                                  <label class="star-4" for="addstar-24">4</label>
                                  <input type="radio" name="addstar" class="star-5" id="addstar-25" value="5">
                                  <label class="star-5" for="addstar-25">5</label>
                                  <span></span>
                                </div>
                              </div>
                            </div>
                          </div>
              
                        </div>
              
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  edit-description form-group">
                        <span class="post-title">Description</span>
                        <textarea name="review_desc" id="review_desc"></textarea>
                      </div>
              
              
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  edit-description form-group">
                        <span class="post-title">Attach Photos</span>
                        <div class="drop_image">
                          <div class="box_drop">
                            <h3>Drag & Drop Images Here</h3>
                            <a href="">Or click to select a file</a>
                          </div>
              
                          <div class="image_success">
                            <p>imasge
                              <span>Success</span>
                            </p>
                          </div>
                        </div>
                      </div>
              
                      <div class="col-lg-12">
                        <div class="post-review">
                          <button type="submit" name="save" value="Submit" class="submit-category">Post Review</button>
                        </div>
                      </div>
              
                    </form>
                  </div>
                </div>
              </div>
          </div>
        </div>      
      </div>  
      <!-- addreviewmodal start -->
      <div class="modal fade" id="newCheckingModel" tabindex="-1" role="dialog" aria-labelledby="addReviewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="revstance_modal modal-content">
            <div class="modal-body">
              <div class="container">
                <div class="check_close">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="row">
                  <form method="post" action="/checkin" name="checkInform" id="checkInform">
                    <input type="hidden" name="propertyId" id="propertyId" value="<%=property.id%>">
                    <input type="hidden" name="property_Id" id="property_Id" value="<%=property._id%>">
                    <div class="col-lg-12 ">
                      <div class="review-title">
                        <h2 class="edit-title text-left">Check-in</h2>
                      </div>
                    </div>
                    <div class="feeling-happy">
            
                    </div>
                    <div class="Check_profile">
                      <div class="porfile_post" style="background-image: url(/images/no-location.jpg);"></div>
                      <h3>Judy Willson</h3>
                    </div>
                    <div class="porfile_description">
                      <h4>Description Here</h4>
                    </div>
                    <div class="feeling_icon">
                      <div class="panel-group" id="accordion">
                        <div class="panel panel-default border-top">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Feeling</a>
                            </h4>
                          </div>
                          <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="smiley_icon">
                                    <ul>
                                      <li><img src="<%-base_url%>/images/Feeling/awesome.png"> Feeling Awesome</li>
                                      <li><img src="<%-base_url%>/images/Feeling/crazy.png"> Feeling Crazy</li>
                                     <li><img src="<%-base_url%>/images/Feeling/excited.png"> Feeling Excited</li>
                                      <li><img src="<%-base_url%>/images/Feeling/happy.png"> Feeling Happy</li>
                                    <li><img src="<%-base_url%>/images/Feeling/hungry.png"> Feeling Hungry</li>
                                     <li><img src="<%-base_url%>/images/Feeling/loved.png"> Feeling Loved</li>
                                     <li><img src="<%-base_url%>/images/Feeling/relaxed.png"> Feeling Relaxed</li>
                                     <li><img src="<%-base_url%>/images/Feeling/thirsty.png"> Feeling Thirsty</li>
                                      <li><img src="<%-base_url%>/images/Feeling/awesome.png"> Feeling Awesome</li>
                                    </ul>
                                  </div>
                                </div>
            
            
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Tag Friends</a>
                            </h4>
                          </div>
                          <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                              commodo consequat.</div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Photos</a>
                            </h4>
                          </div>
                          <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                              commodo consequat.</div>
                          </div>
                        </div>
                      </div>
                    </div>
            
                    <div class="col-lg-12">
                      <div class="post-review">
                        <button type="submit" name="save" value="Submit" class="submit-category">Post</button>
                      </div>
                    </div>
                  </form>
                </div>

            </div>
        </div>
    </div>
  </div>
  </div>
        <!-- addreviewmodal start -->
      <% include ../frontend/template/subfooter %>
      <script src="<%-base_url%>/js/validation/addreviewvalidation.js"></script>
      <script src="<%-base_url%>/js/validation/updatereviewvalidation.js"></script>
      <script src="<%-base_url%>/js/validation/checkinpropertyvalidation.js"></script>
      <script src="<%-base_url%>/js/slick.min.js"></script>
      <script src="<%-base_url%>/js/popper.min.js"></script>
      <script src="<%-base_url%>/js/property_detail.js"></script>
      <script>
           $('#addReviewform').submit(function(e){
            e.preventDefault();
            if(!($('#addReviewform').valid())){
              console.log('form is invalid');
            }
            else{
              $("#addReviewModel").modal("hide");
              var user_location = '';
            if(($("#user_location").val())!=''){
              user_location = $("#user_location").val();
            }
            var review_content = $("textarea#review_desc").val();
            var review_post_user = $("input[name='reviewUserName']:checked").val();
            var rating_number = $("#modalstar input[type='radio']:checked").val();
            var propertyId = $("#propId").val();  
            console.log(propertyId);
            var propId = $("#propertyId").val();
            console.log(propId);
            $(this).ajaxSubmit({ 
                data: {review_content: review_content,review_post_user:review_post_user,rating_number:rating_number,propertyId:propertyId,propId: propId,user_location:user_location},
                contentType: 'application/json',
                success: function(response){
                  swal({
                      title: "Your review was added successfully",
                      icon: "success",
                      dangerMode: true,
                      closeOnClickOutside: false,
                      closeOnEsc: false,
                  }).then((value) => {
                    window.location.reload();
                  });                  
                }
            });
            return false;
          }
        });
      </script>
</body>

</html>