<% include template/head %>
  <script src="../assets/js/app.js"></script>
<% include template/subheader %>
  <!-- Page header -->
  <div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
      <div class="page-title d-flex">
        <h4> <span class="font-weight-semibold">Settings</span></h4>
        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
      </div>

      <div class="header-elements d-none">
      </div>
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
      <div class="d-flex">
        <div class="breadcrumb">
          <a href="home" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
          <span class="breadcrumb-item active"><i class="icon-pencil6 mr-2"></i>Change Settings</span>
        </div>
      </div>
    </div>
  </div>
  <!-- /page header -->
  <!-- Content area -->
  <div class="content">
    <% include template/flashmessage %>
    <!-- Basic layout-->
            <div class="card">
              <div class="card-header header-elements-inline">
                <h5 class="card-title">Change Settings</h5>
              </div>

              <div class="card-body">
                <fieldset>
                    <legend class="font-weight-semibold text-uppercase font-size-sm"></legend>
                      <form role="form" action="updatesettings" method="post" name="settingsform">
                        <div class="form-group row">
                          <label class="col-lg-3 col-form-label">Site Title: <span class="text-danger">*</span></label>
                          <div class="col-lg-9">
                            <input type="text" name="site_title" id="site_title" class="form-control" placeholder="Enter Site Title" value="<%=settings.site_title%>">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-lg-3 col-form-label">Admin Email: <span class="text-danger">*</span></label>
                          <div class="col-lg-9">
                            <input type="text" name="admin_email" id="admin_email" class="form-control" placeholder="Enter Admin Email" value="<%=settings.admin_email%>" required="required">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-lg-3 col-form-label">Developer Email: <span class="text-danger">*</span></label>
                          <div class="col-lg-9">
                            <input type="text" name="developer_email" id="developer_email" class="form-control" placeholder="Enter Developer Email" value="<%=settings.developer_email%>" required="required">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-lg-3 col-form-label">Monthly Featured Membership (Token): <span class="text-danger">*</span></label>
                          <div class="col-lg-9">
                            <input type="text" name="monthly_featuredmemberhip_token" id="monthly_featuredmemberhip_token" class="form-control" placeholder="Enter Monthly Featured Membership (Token)" value="<%=settings.monthly_featuredmemberhip_token%>" required="required">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-lg-3 col-form-label">Monthly Featured Membership (Flat): <span class="text-danger">*</span></label>
                          <div class="col-lg-9">
                            <input type="text" name="monthly_featuredmemberhip_flat" id="monthly_featuredmemberhip_flat" class="form-control" placeholder="Monthly Featured Membership (Flat)" value="<%=settings.monthly_featuredmemberhip_flat%>" required="required">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-lg-3 col-form-label">Yearly Featured Membership (Token): <span class="text-danger">*</span></label>
                          <div class="col-lg-9">
                            <input type="text" name="yearly_featuredmemberhip_token" id="yearly_featuredmemberhip_token" class="form-control" placeholder="Enter Yearly Featured Membership (Token)" value="<%=settings.yearly_featuredmemberhip_token%>" required="required">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-lg-3 col-form-label">Yearly Featured Membership (Flat): <span class="text-danger">*</span></label>
                          <div class="col-lg-9">
                            <input type="text" name="yearly_featuredmemberhip_flat" id="yearly_featuredmemberhip_flat" class="form-control" placeholder="Enter Yearly Featured Membership (Flat)" value="<%=settings.yearly_featuredmemberhip_flat%>" required="required">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-lg-3 col-form-label">Token Price Rate: <span class="text-danger">*</span></label>
                          <div class="col-lg-9">
                            <input type="text" name="token_price_rate" id="token_price_rate" class="form-control" placeholder="Enter Token Price Rate" value="<%=settings.token_price_rate%>" required="required">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-lg-3 col-form-label">VAT Percentage: <span class="text-danger">*</span></label>
                          <div class="col-lg-9">
                            <input type="text" name="vat_percentage" id="vat_percentage" class="form-control" placeholder="Enter VAT Percentage" value="<%=settings.vat_percentage%>" required="required">
                          </div>
                        </div>
                        <div class="text-right">
                          <input type="hidden" name="settings_id" value="<%=settings.id%>">
                          <button type="submit" class="btn btn-primary">Update Settings <i class="icon-paperplane ml-2"></i></button>
                          <a href="/admin/settings" class="btn btn-primary"><i class="icon-arrow-left7 position-left"></i> Back to Listing</a>
                        </div>
                      </form>
                </fieldset>
              </div>
            </div>
            <!-- /basic layout -->
  </div>
  <!-- /content area -->
<% include template/subfooter%>
<script src="/js/validation/settingsvalidation.js"></script>  
<% include template/footer%>
      
