<% include template/head %>
  <script src="../global_assets/js/plugins/forms/selects/select2.min.js"></script>
  <script src="../assets/js/app.js"></script>
<% include template/subheader %>
  <!-- Page header -->
  <div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
      <div class="page-title d-flex">
        <h4> <span class="font-weight-semibold">Payment History</span></h4>
        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
      </div>

      <div class="header-elements d-none">
      </div>
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
      <div class="d-flex">
        <div class="breadcrumb">
          <a href="home" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
          <span class="breadcrumb-item active"><i class="icon-credit-card mr-2"></i>Payment History</span>
        </div>
      </div>
    </div>
  </div>
  <!-- /page header -->
  <!-- Content area -->
  <div class="content">
    <% include template/flashmessage %>
    <div class="card">
      <div class="card-body">
        <form method="get" name="search_form" id="search_form">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <input type="hidden" name="page" value="0" />
              <input type="hidden" name="ordered_column" id="ordered_column" value="<%-ordered_column%>" />
              <input type="hidden" name="ordered_sort" id="ordered_sort" value="<%-ordered_sort%>" />
              <input type="hidden" name="perpage" id="perpage" value="<%-perpage%>" />
                <input type="text" name="keyword" value="<%-keyword%>" id="keyword" placeholder="Search payment history" class="form-control"/> 
            </div>
            <div class="col-lg-3 col-md-5 col-sm-12 col-xs-12 btndiv">
              <button type="submit" class="btn btn-primary btn-sm">Search <i class="icon-search4 ml-2"></i></button>
              <a href="<%-base_url%>/admin/paymenthistory" class="btn btn-sm bg-slate" id="resetApplyBtn">Reset <i class="icon-reset ml-2"></i></a>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12 perpagediv">
              <label>
                <span>Show</span>
                <select class="form-control selectperpage" data-fouc>                  
                  <option value="10" <%= (perpage==10) ? 'selected' : ''%>>10</option>
                  <option value="25" <%= (perpage==25) ? 'selected' : ''%>>25</option>
                  <option value="50" <%= (perpage==50) ? 'selected' : ''%>>50</option>
                  <option value="100" <%= (perpage==100) ? 'selected' : ''%>>100</option>
                </select>
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
                <th>#</th>
                <th class="filter-class tx_id" data-order="<%= (ordered_column=='tx_id') ? ordered_sort : -1 %>" data-column="tx_id">Txn_Id</th>

                <th class="filter-class amount" data-order="<%= (ordered_column=='amount') ? ordered_sort : -1 %>" data-column="amount">Amount</th>
                
                <th class="filter-class description" data-order="<%= (ordered_column=='description') ? ordered_sort : -1 %>" data-column="description">Desc</th>
                
                <th class="filter-class user.first_name" data-order="<%= (ordered_column=='user.first_name') ? ordered_sort : -1 %>" data-column="user.first_name">Payment By</th>

                <th class="filter-class created_date" data-order="<%= (ordered_column=='created_date') ? ordered_sort : -1 %>" data-column="created_date">Date</th>
            </tr>
          </thead>
          <tbody>
            <% 
            var i=1;
            if (payments.length > 0) {
                  payments.forEach((payment) => { %>
             <tr>
                <td><%-(page*perpage)+i %><%i++%></td>
                <td><%= payment.tx_id %> </td>
                <td><%= payment.amount %> </td>
                <td><%= payment.description %> </td>
                <td><%= payment.user.first_name+' '+payment.user.last_name %> </td>
                <td><%= (payment.created_date) ? moment(payment.created_date).format('MM/DD/YYYY') : '' %> </td>
              </tr>
            <% }) }else{ %>
            <tr>
              <td colspan="7" class="text-center">No Result Found.</td>
            </tr>
            <% }%>
            </tbody>
        </table>
      </div>
    </div>  
    <% include template/pagignation%>
  </div>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.selectperpage').select2({
        minimumResultsForSearch: Infinity,
        width: 80
      });

      $('.selectperpage').on('change',function(){
        var selectedperpage = $(this).val();
        $('#perpage').val(selectedperpage);
        $("#search_form").submit();
      })
      $(".pagination li").click(function(){
          $("#page").val($(this).attr('data-id'));
          $("#pagination-form").submit();
      });
      $("#resetApplyBtn").click(function(){
        $("#keyword").val('');
        $("#page").val('');
        $("#search_form").submit();
      });

      
      if($('#ordered_sort').val()==1){
        $("."+$("#ordered_column").val()).css('font-weight','bold');
      }else{
        $("."+$("#ordered_column").val()).css('font-weight','normal');
      }

      $(".filter-class").click(function(){
        var order = $(this).data('order');
        order = (order==1) ? -1 : 1;
        $(this).data('order',order);
        var column_order = $(this).data('order');
        var column_name = $(this).data('column');
        $('#ordered_column').val(column_name);
        $('#ordered_sort').val(column_order);
        $('#search_form').submit();
      })
    });
  </script>
  <!-- /content area -->
<% include template/subfooter%>   
<% include template/footer%>