<header>
     <nav id="navbar" class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="<%-base_url%>"><img src="<%-base_url%>/frontend_assets/img/logo_revstance.png" alt="revstance"></a>  
          <ul class="nav navbar-nav navbar-right">
            <% if(!session.user){%>
            <li class="ml-2"><a href="<%-base_url%>/signup" class="navbar-link">Are you a business ?</a></li>
            <li class="ml-3">
                <div class="btn-nav"><a class="btn btn-default btn-small navbar-btn login-btn" href="<%-base_url%>/login">Login</a>
                </div>
            </li>

            <li class="ml-2"><a href="javascript:void(0);" class="navbar-link" data-toggle="modal" data-target="#myModal"><img src="/images/hamburger.png"></a></li>
            <%}else if(session.user.user && session.user.user_type==3){

            }
            else{ %>
              <li class="ml-3"><a href="#"><img src="/images/location.png" class="navbar-link"></a></li>
              <li class="ml-3"><a href="#"><img src="/images/new_feed.png" class="navbar-link"></a></li>
              <li class="ml-3 mt-2">
                <a href="javascript:;" class="navbar-link"><h6 class="location-txt"><%-session.user.token_balance%> STT</h6></a>
              </li>
              <li class="ml-3">
                <div class="dropdown navbar-link">
                  <span class="bar dropdown-toggle" data-toggle="dropdown"> <img src="/images/hamburger.png"></span>
                  <span class="cross dropdown-toggle"> <i class="fa fa-times" data-toggle="dropdown"></i></span>
                  <!-- <i class="fa fa-bars fa-2x dropdown-toggle bar" data-toggle="dropdown"></i>
                   <i class="fa fa-times fa-2x dropdown-toggle cross" data-toggle="dropdown"></i> -->
          
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="<%-base_url%>/MyProfile"><i class="fa fa-user"></i> Profile</a>
                    <% if(session.user.user_type==2){ 
                      if(session.user.status==2) {%>
                    <a class="dropdown-item" href="<%-base_url%>/Mylisting"><i class="fa fa-map-marker"></i>My Locations</a>
                    <a class="dropdown-item" href="<%-base_url%>/addListing"><i class="fa fa-map-marker"></i>Add Location</a>
                    <a class="dropdown-item" href="<%-base_url%>/myclaimedlocations"><i class="fa fa-map-marker"></i> Claimed Locations</a>
                    <a class="dropdown-item" href="<%-base_url%>/business-memberships"><i class="fa fa-user-circle-o"></i> Featured Membership</a>
                    <%} }else{ %>
                    <a class="dropdown-item" href="<%-base_url%>/Mylisting"><i class="fa fa-map-marker"></i>My Locations</a>
                    <a class="dropdown-item" href="<%-base_url%>/user-memberships"><i class="fa fa-user-circle-o"></i> Membership</a>
                    <% } %>
                    <%if(session.user.status==2){%>
                    <a class="dropdown-item" href="<%-base_url%>/request-category"><i class="fa fa-cog"></i> Request Category</a>
                    <% } %>
                    <a class="dropdown-item" href="<%-base_url%>/changepassword"><i class="fa fa-key"></i>Change Password</a>
                    <a class="dropdown-item" href="<%-base_url%>/user-tokenlog"><i class="fa fa-map-marker"></i> Token Log</a>
                    <a class="dropdown-item" href="<%-base_url%>/user-activity"><i class="fa fa-list"></i> Activity</a>
                    <a class="dropdown-item" href="<%-base_url%>/user-redeem"><i class="fa fa-gift"></i> Redeem</a>
                    <a class="dropdown-item" href="<%-base_url%>/user-orderstatus"><i class="fa fa-shopping-cart"></i> Order Status</a>
                    <a class="dropdown-item" href="<%-base_url%>/user-referral"><i class="fa fa-users"></i> Referral</a>
                    <a class="dropdown-item" href="<%-base_url%>/user-settings"><i class="fa fa-cog"></i> Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" onclick="logout(); event.preventDefault();" href="javascript:void(0)"><i class="fa fa-power-off"></i> Logout</a>
                    <form id="logout-form" action="<%-base_url%>/logout" style="display: none;"></form>
                  </div>
                </div>
              </li>
            <%} %>            
          </ul>
      </div>
    </nav>
    <div class="modal fade show" id="mod-menu" tabindex="-1" role="dialog" aria-labelledby="MenuModal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="row">
               <div class="col col-xs-12 modal-left">
                   <div class="modal-logo">
                      <img src="<%-base_url%>/frontend_assets/img/logo_revstance.png" alt="revstance">
                   </div>
                      <ul class="modal-menu">
                        <li><a href="#">About Us1</a></li>
                        <li><a href="#">Developer Help</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                     </ul>
               </div>
                <div class="col col-xs-12 modal-right">
                  <div class="modal-info">
                    <div class="number">
                      <i class="number-icon"></i>
                      <p>+44 9876543210</p>
                    </div>
                    <div class="email">
                      <i class="email-icon"></i>
                      <p>info@revstance.com</p>                
                    </div>
                  </div>
                   <div class="row">
                   <ul class="social-media">
                     <li><a class="links" href="JavaScript:void(0);"><i class="fa fa-facebook"></i></a></li>
                     <li><a class="links" href="JavaScript:void(0);"><i class="fa fa-twitter"></i></a></li>
                     <li><a class="links" href="JavaScript:void(0);"><i class="fa fa-pinterest"></i></a></li>
                     <li><a class="links" href="JavaScript:void(0);"><i class="fa fa-instagram"></i></a></li>
                     <li><a class="links" href="JavaScript:void(0);"><i class="fa fa-google plus"></i></a></li>
                   </ul>
                </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</header>