<div class="modal fade" id="userFollowingModel">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
              <div class="row">
                <form action="#" id="issue-filter">  
                <input type="hidden" name="userId" id="userId" value="<%=user._id%>">         
                  <div class="review-title"> 
                        <h2 class="edit-title text-center"><input placeholder="Search Follower..." id="follower_search" autocomplete="off" class="search-category" placeholder="Search Location" /></h2>
                      </div>
                      <div class="section-seprator"></div>
                        <div class="row review-titles">
                            <div class="col-lg-12 form-group" id="addreviewres_msg"></div>
                        </div>  
                        <div class="followers-list">
                        
                           <% user.isFollower.forEach(function(userf){ %>
                            <!-- <p><%-userf%></p> -->
                            <!-- <% }) %> -->
                         <% if(Array.isArray(user.followingsName) && user.followingsName.length>0){ 
                          loggedInUserFollowes = user.followingsId;
                          user.followingsName.forEach(function(allFollowingName){ %>
                              <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4  edit-description form-group">
                                  <span class="post-title"><%- allFollowingName.fullname %></span>
                                </div>
                                <% if(req.session.user && req.session.user.user_type==1){ %>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 <%-allFollowingName._id%>">
                                  <% testcounter = 0;
                                    user.isFollower.forEach(function(fuser){ 
                                        if(fuser.equals(allFollowingName._id))
                                        { 
                                          testcounter++;
                                        %>
                                    <a href="<%- base_url+'/user/profile/unfollow/'+allFollowingName._id%>" class="post-title btn btn-primary">Following</a>
                                    <% 
                                         }
                                        });
                                        
                                      if(testcounter==0 && allFollowingName._id==req.session.user._id){ %>
                                     <span></span>
                                      <% }else if(testcounter==0){ %>
                                      <a href="<%- base_url+'/user/profile/follow/'+allFollowingName._id%>" class="post-title btn btn-primary">Follow</a>
                                      <% }  %>
                                </div> 
                                 <% } %>
                            </div>
                            <%
                            });
                            }               
                            %>  
                            </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <button type="button" id="addreviewclosebtn" class="save-btn info-btn  pull-right" onclick="window.location.reload()" style="display:none;">CLOSE</button>
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  