<!DOCTYPE html>
<html lang="en">

<head>
	<title>Revstance | Search </title>
	<% include frontend/template/head %>
</head>

<body class="bg-light search-l-pg">
	<% include frontend/template/subnav %>
		<div class="container ravi">
			<form id="searchform">
				<div class="row margin-tb-25" id="search">
					<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" id="filter">
						<div class="card">
							<div class="card-header">
								<h5 class="mb-0 ">Category
									<span class="filter_apply_button">
										<button type="button" data-child="category_checkboxes" data-filterType="category" class="btn btn-primary btn-sm apply_button">Apply</button>
									</span>
								</h5>
							</div>
							<div class="card-body text-body">
								<div class="form-group has-search">
									<span class="fa fa-search form-control-feedback"></span>
									<input placeholder="Search category..." id="category_search" name="category_search" autocomplete="off" class="form-control search-category"
									 placeholder="Search Location">
								</div>
								<div id="searcher-status-suggestions" class="aui-list" style="display: block;">
									<div tabindex="-1" class="aui-list-scroll">
										<ul class="aui-last category_elements">
											<li class="check-list-item uncheck_element">
												<label class="item-label checkbx" title="Clear All">
													<input type="checkbox" name="category[]" tabindex="-1" value="" class="uncheck_categories" data-childs="category_checkboxes"> Clear All
													<!-- <span class="checkmark"></span> -->
													<span class="close"></span>
												</label>
											</li>
											<% var temp_count=0;
								categories.forEach(function(category){ %>
												<li class="check-list-item <% if(temp_count>=5){%>hidden_categories<%}%>">
													<label class="item-label checkbx" title="<%-category.category_name%>">
														<input type="checkbox" name="category[]" class="category_checkboxes" tabindex="-1" value="<%-category.id%>" <% if(submited_data.category.includes(category.id)){%> checked="checked"
														<%}%> >
															<%-category.category_name%>
																<span class="checkmark"></span>
													</label>
												</li>
												<% temp_count++; }); %>
										</ul>
										<span class="show_hide" data-action="show_all" data-search_element="category_search" data-counts="<%-temp_count%>" data-parent="category_elements">Show All (
											<%-temp_count%>)</span>
									</div>
								</div>
								<!-- </form> -->
							</div>
							<div class="card-header">
								<h5 class="mb-0 mt-2">Locations
									<span class="filter_apply_button">
										<button type="button" class="btn btn-primary btn-sm apply_button" data-child="location_checkboxes" data-filterType="location">Apply</button>
									</span>
								</h5>
							</div>
							<div class="card-body text-body">
								<div class="form-group has-search">
									<span class="fa fa-search form-control-feedback"></span>
									<input placeholder="Search location..." id="location_search" name="location_search" autocomplete="off" class="form-control search-location"
									 placeholder="Search Location">
								</div>
								<div id="searcher-status-suggestions" class="aui-list" style="display: block;">
									<div tabindex="-1" class="aui-list-scroll">
										<ul class="aui-last location_elements">
											<li class="check-list-item uncheck_element">
												<label class="item-label checkbx" title="Clear All">
													<input type="checkbox" name="category[]" tabindex="-1" value="" class="uncheck_location" data-childs="location_checkboxes"> Clear All
													<!-- <span class="checkmark"></span> -->
													<span class="close"></span>
												</label>
											</li>
											<% var temp_count=0;
										locations.forEach(function(location){ %>
												<li class="check-list-item <% if(temp_count>=5){%>hidden_categories<%}%>">
													<label class="item-label checkbx" title="<%-location%>">
														<input type="checkbox" name="location[]" tabindex="-1" class="location_checkboxes" value="<%-location%>" <% if(submited_data.location.includes(location)){%> checked="checked"
														<%}%>>
															<%-location%>
																<span class="checkmark"></span>
													</label>
												</li>
												<% temp_count++; }); %>
										</ul>
										<span class="show_hide" data-action="show_all" data-search_element="location_search" data-counts="<%-temp_count%>" data-parent="location_elements">Show All (
											<%-temp_count%>)</span>
									</div>
								</div>
								<!-- </form> -->
							</div>
							<div class="card-header">
								<h5 class="mb-0 mt-2">Ratings
									<span class="filter_apply_button">
										<button type="button" class="btn btn-primary btn-sm apply_button" data-child="ratings_checkboxes" data-filterType="ratings">Apply</button>
									</span>
								</h5>
							</div>
							<div class="card-body text-body ratings_filter uncheck_element">
								<label class="item-label checkbx" title="uncheck_categories">
									<input type="checkbox" name="category[]" tabindex="-1" value="" class="uncheck_ratings" data-childs="ratings_checkboxes"> Clear All
									<!-- <span class="checkmark"></span> -->
									<span class="close"></span>
								</label>
							</div>
							<div class="card-body text-body ratings_filter mb-2">
								<label class="checkbx">5 &#9733; &#38; above
									<input class="ratings_checkboxes" type="checkbox" name="ratings[]" <% if(submited_data.ratings.includes( '5')){%> checked="checked"
									<%}%> value="5">
										<span class="checkmark"></span>
								</label>
								<label class="checkbx">4 &#9733; &#38; above
									<input type="checkbox" class="ratings_checkboxes" name="ratings[]" value="4" <% if(submited_data.ratings.includes( '4')){%> checked="checked"
									<%}%>>
										<span class="checkmark"></span>
								</label>
								<label class="checkbx">3 &#9733; &#38; above
									<input type="checkbox" class="ratings_checkboxes" name="ratings[]" value="3" <% if(submited_data.ratings.includes( '3')){%> checked="checked"
									<%}%>>
										<span class="checkmark"></span>
								</label>
								<label class="checkbx">2 &#9733; &#38; above
									<input type="checkbox" class="ratings_checkboxes" name="ratings[]" value="2" <% if(submited_data.ratings.includes( '2')){%> checked="checked"
									<%}%>>
										<span class="checkmark"></span>
								</label>
								<label class="checkbx">1 &#9733; &#38; above
									<input type="checkbox" class="ratings_checkboxes" name="ratings[]" value="1" <% if(submited_data.ratings.includes( '1')){%> checked="checked"
									<%}%>>
										<span class="checkmark"></span>
								</label>
							</div>
						</div>
					</div>
					<div class=" col-lg-6 col-md-12 col-sm-12 col-xs-12 on-padding1" id="location">
						<% properties.forEach(function(property){ %>
							<div class="card p-2 mb-2">
								<div class="row mr-0 ml-0">
									<% var im = (property.property_images).split(',');
									var im_name = '/images/'+im[0];
									var img_path = '';
									if(im[0]==''){
											im_name = '/images/no-location.jpg';
									}
								%>
										<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 location-img" style="background-image:url(
							<%-im_name%>)">
										</div>
										<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 location-detail">
											<div>
												<h5 class="card-title">
													<a href="<%-base_url+'/location/'+property.slug+'/details'%>">
														<%-property.property_name%>
													</a>
												</h5>
											</div>
											<div>
												<span class="badge badge-info">
													<%-property.average_rating%> &#9733;</span>
												<span class="text-muted ml-3">11 Reviews</span>
											</div>
											<p class="card-text mt-3 mb-1 char-limit">
												<span class="sprite align-middle" id="marker"></span>
												<%=property.area; %>
													<%=property.country; %>
											</p>
											<p class="card-text mb-2 char-limit">
												<span class="sprite align-middle" id="tager"></span>
												<%	let categoryIdsToSearch = [];
													if(typeof property.category_id !== 'undefined'){
														if(property.category_id.length>0){
															property.category_id.forEach(function(catid){ 
																categoryIdsToSearch.push(categories[catid].category_name);
															});
														}
													}
												%>
													<%-categoryIdsToSearch.join(',');%>
											</p>
											<div class="verified">
											</div>
										</div>
								</div>
							</div>
							<% }) %>

									<% if(properties.length==0) { %>
									<div class="no_result_found"> Sorry, we could not find any results matching your search criteria. you can add your location from
										<a href="<%-base_url%>/addListing">here</a>
									</div>
									<% } %>
										<div class="row mt-4">
											<ul class="pagination search-pagination">
												<% if(properties.length>5) { %>
												<% if(counter>0) { %>
													<li class="page-item" data-id="0">
														<a class="page-link" href="javascript:void(0)">First</a>
													</li>
													<% } %>
														<%
							  var lastPage = Math.ceil(counter/perpage);
							  var last = lastPage - 1;
							  for(k=0;k<lastPage;k++){ 
							  if(((k+3)==page) || ((k+2)==page) || ((k+1)==page) || (k==page) || ((k-1)==page) || ((k-2)==page) || ((k-3)==page)){
							  %>
															<li class="page-item <% if(page==k){ %> active <%}%>" data-id="<%=k%>">
																<a class="page-link" href="javascript:void(0)">
																	<%=k+1%>
																</a>
															</li>
															<% } }%>
																<% if(counter>0) { %>
																	<li class="page-item" data-id="">
																		<a class="page-link" href="javascript:void(0)">Last</a>
																	</li>
																	<% } } %>
											</ul>
										</div>
					</div>
					<input type="hidden" name="current_page" id="current_page" value="0">
					<input type="hidden" name="pagination_name" id="pagination_name" value="search">
					<%
					let urlData = req.query;
					let search_area = '';
					if (typeof urlData.location !== 'undefined'){
							search_area = urlData.location;
					}
					%>
					<input type="hidden" name="search_area" id="search_area" value="<%-search_area%>">

					<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" id="sponserd">
						<div class="text-muted ">
							SPONSORED
						</div>
						<div class=" sponsor_locations">
							<% sproperties.forEach(function(sproperty){ %>
								<div class="location_box <%-sproperty.id%>">
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 on-padding">
										<div class="location-img" style="background-image: url(/images/<%-sproperty.media_url%>);">
											<div class="text-block bg-info">
												<b>
													<%-sproperty.average_rating%> ★</b>
											</div>
										</div>
									</div>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 on-padding">
										<div class="location-detail p-2">
											<h6 class="card-title">
												<a href="<%-base_url%>/location/<%-sproperty.slug%>/details" data-abc="true">
													<%-sproperty.property_name%>
												</a>
											</h6>
											<div class="text-muted">
												<%-sproperty.area+' '+sproperty.country+', '+sproperty.post_code%>
													<div>
														<%-sproperty.category_name%>
													</div>
											</div>
										</div>
									</div>
								</div>
								<% }) %>
						</div>
					</div>
				</div>
			</form>
		</div>
		<% include frontend/template/subfooter %>
</body>

</html>