<!DOCTYPE html>
<html lang="en">
  <head>
    <% include frontend/template/head %>     
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
    
    <link rel="stylesheet" href="<%-base_url%>/css/docs.theme.min.css">
    <link rel="stylesheet" href="<%-base_url%>/css/owl.carousel.min.css">
    <link rel="stylesheet" href="<%-base_url%>/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="<%-base_url%>/css/slider.css">
  </head>
   <body class="user_profile_page">
     <!-- Navigation -->
    <% include frontend/template/subnav %>
     <!-- Masthead --> 
  <section class="testimonial-section text-justify text-body">
    <!-- Section 1 start -->
     <div class="container">
          <% include frontend/template/error %>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <% if(user.profile_photo.length>0) { %>
              <!-- <%- base_url +'/images/'+user.profile_photo%> -->
              <!-- <div class="profile" style="background:url(<%- '/uploads/'+user.profile_photo%>) no-repeat !important; background-size: cover; border-radius: 25px; background-color: transparent; background-position: center;background-repeat: no-repeat; position: relative; min-height: 200px; max-height: 210px;">
              </div> -->
              <div class="profile_image" style="background-image: url(/images/profile/no-image.jpg); "></div>
              <% }else{ %>
              <div class="profile">
              </div>
              <% } %>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
              <div class="user_name">
                <h5><strong class="text-body">
                <%- user.first_name+" "+user.last_name %>
                <%if(req.session.user){%>
                <%if(user.id != req.session.user.id){%>
                <% if(req.session.user && req.session.user.user_type==1){
                   if(isFollowed==0){ %>
                <a href="<%- base_url+'/user/profile/follow/'+user._id%>" class="btn reb-bg-blue btn-sm margin-l-20">Follow</a>
                <% } else{ %>
                 <a href="javascript:void(0)" onclick="confirmmessage('Are you sure you want to Unfollow this User?','/user/profile/unfollow/<%-user._id%>')" class="btn reb-bg-blue btn-sm margin-l-20">Unfollow</a>
                   <% } } } }%> </strong></h5> 
                  <div class="Influencer">

                  <% if(user.is_influencer && parseInt(user.is_influencer)==1){ %>
                      <a href="javascript:void(0)" class="badge badge-custom">&#8226; Influencer</a>
                  <%  } if(user.is_professional_badge && parseInt(user.is_professional_badge)==1){ %>
                      <a href="javascript:void(0)" class="badge badge-custom">&#8226; Professional</a>
                  <% } %>    
                  </div>
                  <div class="text-secondary">
                   <span class="help-block"><%-user.tag_line%></span>
                  </div>
                  <div class="rev-blue">
                      <p class="point"><a href="javascript:void(0)"> <%-user.stance%></a> <strong>(<%-user.point_balance%> Points)</strong></p>
                  </div>
              </div>
            </div>
          <!--   <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <% if(req.session.user && req.session.user.user_type==1){ 
                if(isFlaggedUser==0){
              %>
              <div class="button text-right">
                <a href="javascript:void(0)" class="demo_btn" onclick="confirmmessage('Are you sure you want to report this user.?','/flags/<%-user.id%>/types/1')">Report Spam</a>
              </div>
              <% }else{ %>
<a href="javascript:void(0)" class="demo_btn" onclick="confirmmessage('Are you sure you want to report this user as Not spammed.?','/unflags/<%-user.id%>/types/1')">UnReport</a>
              <% } 
              }
              if(!req.session.user){ %>
                <div class="followers text-right text-body">
                <b><a class="followersList" href="<%-base_url+'/login/'%>"><%-user.followers%> Followers </a>
                   <a class="followingList" href="<%-base_url+'/login/'%>"><%-user.followings%> Following</a></b>
              </div>
           <% } else{
            %>
              <div class="followers text-right text-body">
                <b><span class="followersList" data-toggle="modal" data-target="#userFollowerModal"><%-user.followers%> Followers </span><span class="margin-l-10 followingList" data-toggle="modal" data-target="#userFollowingModal"><%-user.followings%> Following</span></b>
              </div>
              <% } %>
            </div> -->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
               <%if(req.session.user){%>
              <%if(user.id != req.session.user.id){%>
              <div class="button text-r">
                <% if(req.session.user && req.session.user.user_type==1){ 
                if(isFlaggedUser==0){ %>
                <a href="javascript:void(0)" class="demo_btn mb-c5" onclick="confirmmessage('Are you sure you want to report this user.?','/flags/<%-user.id%>/types/1')">Report Spam</a>
                <% }else{ %>
                <a href="javascript:void(0)" class="demo_btn mb-c5" onclick="confirmmessage('Are you sure you want to report this user as Not spammed.?','/unflags/<%-user.id%>/types/1')">UnReport</a>
                <% } }%>
              </div>
              <% } } %>
              <% if(!req.session.user){ %>
                <div class="followers text-right text-body user_followers">
                <b><a class="followersList" href="<%-base_url+'/login/'%>"><%-user.followers%> Followers </a>
                   <a class="followingList" href="<%-base_url+'/login/'%>"><%-user.followings%> Following</a></b>
              </div>
           <% } else{
            %>
              <div class="followers text-right text-body user_followers">
                <b><span class="followersList" data-toggle="modal" data-target="#userFollowerModal"><%-user.followers%> Followers </span><span class="margin-l-10 followingList" data-toggle="modal" data-target="#userFollowingModal"><%-user.followings%> Following</span></b>
              </div>
              <% } %>
            </div>
          </div>
      </div>
    <!-- Section 1 End -->
    
    <% if(Array.isArray(user.badges) && user.badges.length>0){ %>
    <!-- Section 2 Start -->
    <section class="userprofile-slider">
      <div class="container">
        <div id="userprofile-slider_section" class="owl-carousel owl-theme">
          <div class="item" ">
                        <div class="demo-img ">
                          <a href="# "><img src="<%-base_url%>/images/ActiveReviewer.png"></a>
                        </div>
                    </div>
                    <div class="item "">
            <div class="demo-img">
              <a href="#">
                <img src="<%-base_url%>/images/AutoBiographer.png">
              </a>
            </div>
          </div>
          <div class="item" ">
                        <div class="demo-img ">
                          <a href="# "><img src="<%-base_url%>/images/badge1.png"></a>
                        </div>
                    </div>
                    <div class="item "">
            <div class="demo-img">
              <a href="#">
                <img src="<%-base_url%>/images/badge2.png">
              </a>
            </div>
          </div>
          <div class="item" ">
                        <div class="demo-img ">
                         <a href="# "><img src="<%-base_url%>/images/badge3.png"></a>
                        </div>
                    </div>
                    <div class="item "">
            <div class="demo-img">
              <a href="#">
                <img src="<%-base_url%>/images/badge4.png">
              </a>
            </div>
          </div>
          <div class="item" ">
                        <div class="demo-img ">
                          <a href="# "><img src="<%-base_url%>/images/badge5.png"></a>
                        </div>
                    </div>
                    <div class="item "">
            <div class="demo-img">
              <a href="#">
                <img src="<%-base_url%>/images/badge6.png">
              </a>
            </div>
          </div>
          <div class="item" ">
                        <div class="demo-img ">
                        <a href="# "><img src="<%-base_url%>/images/badge7.png"></a>
                        </div>
                    </div>
                    <div class="item "">
            <div class="demo-img">
              <a href="#">
                <img src="<%-base_url%>/images/ActiveReviewer.png">
              </a>
            </div>
          </div>
          <div class="item" ">
                        <div class="demo-img ">
                            <a href="# "><img src="<%-base_url%>/images/AutoBiographer.png"></a>
                        </div>
                    </div>
                    <div class="item "">
            <div class="demo-img">
              <a href="#">
                <img src="<%-base_url%>/images/badge1.png">
              </a>
            </div>
          </div>
          <div class="item" ">
                        <div class="demo-img ">
                          <a href="# "><img src="<%-base_url%>/images/badge2.png"></a>
                        </div>
                    </div>
                    <div class="item "">
            <div class="demo-img">
              <a href="#">
                <img src="<%-base_url%>/images/badge3.png">
              </a>
            </div>
          </div>
          <div class="item" ">
                        <div class="demo-img ">
                          <a href="# "><img src="<%-base_url%>/images/badge4.png"></a>
                        </div>
                    </div>
                    <div class="item "">
            <div class="demo-img">
              <a href="#">
                <img src="<%-base_url%>/images/badge5.png">
              </a>
            </div>
          </div>
          <div class="item" ">
                        <div class="demo-img ">
                         <a href="# "><img src="<%-base_url%>/images/badge6.png"></a>
                        </div>
                    </div>
                    <div class="item "">
            <div class="demo-img">
              <a href="#">
                <img src="<%-base_url%>/images/badge7.png">
              </a>
            </div>
          </div>
    
          <div class="item" ">
                        <div class="demo-img ">
                          <a href="# "><img src="<%-base_url%>/images/ActiveReviewer.png"></a>
                        </div>
                    </div>
                    <div class="item "">
            <div class="demo-img">
              <a href="#">
                <img src="<%-base_url%>/images/AutoBiographer.png">
              </a>
            </div>
          </div>
          <div class="item" ">
                        <div class="demo-img ">
                          <a href="# "><img src="<%-base_url%>/images/badge1.png"></a>
                        </div>
                    </div>
                    <div class="item "">
            <div class="demo-img">
              <a href="#">
                <img src="<%-base_url%>/images/badge2.png">
              </a>
            </div>
          </div>
          <div class="item" ">
                        <div class="demo-img ">
                         <a href="# "><img src="<%-base_url%>/images/badge3.png"></a>
                        </div>
                    </div>
                    <div class="item "">
            <div class="demo-img">
              <a href="#">
                <img src="<%-base_url%>/images/badge4.png">
              </a>
            </div>
          </div>
          <div class="item" ">
                        <div class="demo-img ">
                          <a href="# "><img src="<%-base_url%>/images/badge5.png"></a>
                        </div>
                    </div>
                    <div class="item "">
            <div class="demo-img">
              <a href="#">
                <img src="<%-base_url%>/images/badge6.png">
              </a>
            </div>
          </div>
          <div class="item" ">
                        <div class="demo-img ">
                        <a href="# "><img src="<%-base_url%>/images/badge7.png"></a>
                        </div>
                    </div>                    
                </div>    
            </div>
        </section>
    <!-- Section 2 End -->
    <% } %>
    <!-- Slider end -->

    <!-- Section 3 Start -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-tb-20">
        <h5 class="information_titel"><b>Personal Information</b></h5>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 table_info">
          <div class="info table_info_titel">
            <table class="table borderless">
              <tbody>
                <%if(user.user_type==1){%>
                <tr>
                  <th><b>Date Of Birth:</b></th>
                  <td><%-user.dob%></td>
                </tr>
                <tr>
                  <th><b>Gender:</b></th>
                  <td><%-user.gender%></td>
                </tr>
                <tr>
                  <th><b>Ethnicity:</b></th>
                  <td><%-user.ethnicity%></td>
                </tr>
                <% } %>
                <%if(user.user_type==2){%>
                  <tr>
                  <th><b>Business Name:</b></th>
                  <td><%-user.business_name%></td>
                </tr>
                <tr>
                  <th><b>Address:</b></th>
                  <td><%-user.business_address1%></td>
                </tr>
                <%if(user.user_type==2){%>
                <tr>
                  <th><b>Area:</b></th>
                  <td><%-user.business_area%></td>
                </tr>
                <% } %>
                <!-- <tr>
                  <th><b>Ethnicity:</b></th>
                  <td><%-user.ethnicity%></td>
                </tr> -->
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 table_info">
          <div class="info table_info_titel">
             <table class="table borderless">
              <tbody>
                <%if(user.user_type==1){%>
                <tr>
                  <th><b>Area:</b></th>
                  <td><%-user.area%></td>
                </tr>
                <% } %>
                <tr>
                  <th><b>City:</b></th>
                  <td><%-user.city%></td>
                </tr>
                <tr>
                  <th><b>Country:</b></th>
                  <td><%-user.country%></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Section 3 End -->
    <!-- Section 4 Start -->
    <div class="container">
      <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-tb-20">
      <h5 class="information_titel"><b>Recent Activities</b></h5><hr>
      </div>
      <div class="col-lg-12">
      <% if(Array.isArray(user.activities) && user.activities.length>0){ 
          user.activities.forEach(function(activity){ %>
        <div class="row border margin-lr-0 activites mb-2">
          <div class="col-lg-10 col-md-8 col-sm-8 col-xs-12">
            <span class="rev-blue"><%-user.first_name+" "+user.last_name%></span> <%-activity.description %>
            <% if(activity.target_user){ %>
              <a href="<%-base_url+'/user/'+activity.target_user.id+'/profile'%>"> <%-activity.target_user.first_name+" "+activity.target_user.last_name%>
              </a>
            <% }else if(activity.property){ %>
              <a href="<%-base_url+'/location/'+activity.property.slug+'/details'%>" class="rev-blue"> <%-activity.property.property_name%></a>
            <% } %> 
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 text-right">
            <%
            var dates = user.created_date.split(' ');
            if(dates.length>2){
              dates.slice(1,1); %>
              <%-dates[1]+" "+dates[2]+", "+dates[3]%>
              <%
            }
            %>
          </div>          
        </div>        
        <%
          });
        } 
        %>
      </div>
      </div>
    </div>
    <!-- Section 4 End -->
</section>
<% include frontend/template/userfollowermodal %>  

<% include frontend/template/userfollowingmodal %>  
<!-- <div class="modal" id="userFollowerModal"> -->
  
   <!-- Footer -->
   <% include frontend/template/subfooter %>
   <script src="<%-base_url%>/js/validation/profilevalidation.js"></script>
   <script src="<%-base_url%>/js/swiper.min.js"></script>
   <script>
  $(document).ready(function(){
  $('.followersList').on('click',function(){
    var userId = $("#userId").val();
            $.ajax({
                method: 'get',
                url:'/showFollowers',
                data: {userId: userId},
               success:function(result){
                  if(result){                    
                    $('#userFollowerModel').modal();
                  }else if(result.message=='hourlimit'){
                        swal({
                          title: "Sorry, You can give maximum 3 reviews in an hour",
                          icon: "error",
                          dangerMode: true,
                          closeOnClickOutside: false,
                          closeOnEsc: false,
                        })
                    }
                    else{
                      swal({
                        title: "Sorry, you can give one review to each property in month",
                        icon: "error",
                        dangerMode: true,
                        closeOnClickOutside: false,
                        closeOnEsc: false,
                      })
                    }
                }
              });
  });

  $('.followingList').on('click',function(){
    var userId = $("#userId").val();
            $.ajax({
                method: 'get',
                url:'/showFollowings',
                data: {userId: userId},
               success:function(result){
                  if(result){                    
                    $('#userFollowingModel').modal();
                  }else if(result.message=='hourlimit'){
                        swal({
                          title: "Sorry, You can give maximum 3 reviews in an hour",
                          icon: "error",
                          dangerMode: true,
                          closeOnClickOutside: false,
                          closeOnEsc: false,
                        })
                    }
                    else{
                      swal({
                        title: "Sorry, you can give one review to each property in month",
                        icon: "error",
                        dangerMode: true,
                        closeOnClickOutside: false,
                        closeOnEsc: false,
                      })
                    }
                }
              });
  });
   var onClass = "on";
   var showClass = "is-visible";
   
   // Setup
   $("input:not(.token-input):not(.bootstrap-tagsinput > input), textarea, select").on("checkval change", function () {
       // Define label
       var label = $(this).parents('.form-group-material').children(".control-label");
   
       // Toggle label
       if (this.value !== "") {
           label.addClass(showClass);
       }
       else {
           label.removeClass(showClass).addClass('animate');
       }
   }).on("keyup", function () {
       $(this).trigger("checkval");
   }).trigger("checkval").trigger('change');

    $('.followerModal').on('click',function(){
      $('#userFollowingModal').modal();
    }); 

    $('#userprofile-slider_section').owlCarousel({
        loop: true,
        margin: 10,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: true
          },
          767: {
            items: 3,
            nav: false
          },

          1000: {
            items: 6,
            nav: true,
            loop: false,
            margin: 20
          }
        }
      });
    });
    </script>
    <script src="<%-base_url%>/js/owl.carousel.js"></script>
   </body>
</html>