<!DOCTYPE html>
<html lang="en">
  <head>
  <style>
      .inline-title{
        display: inline-block;
      }
      input.daterangeinput{
        padding-left: 0;
        padding-right: 0;
        border-width: 1px 0;
        border-color: transparent;
        border-bottom-color: #ddd;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: transparent;
        /*height: 38px;*/
        font-size: 13px;
      }
      input.daterangeinput:focus{
        box-shadow: none;
        border-bottom-color: #00bce4;
      }
  </style>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <% include frontend/template/head %>
  </head>
  <body>
    <% include frontend/template/subnav %>
    <section class="testimonial-section text-justify">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <% include frontend/template/error %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3>Token Log</h3>
              </div>
              <div class="panel-body">
                <div class="col-md-12">
                  <div class="row">                    
                    <div class="col-md-6">
                      <form method="get" name="search_form" id="search_form">
                        <div class="form-group form-group-material margin-tb-20">
                          <div class="margin-tb-20">
                            <label class="radio-inline color-revs mostrecent">
                                <div class="choice"><span class="<%=(filter=='mostrecent') ? 'checked' : ''%>"><input class="styled" name="tokenfilter" id="mostrecentradio" value="mostrecent" type="radio" <%=(filter=='mostrecent') ? 'checked' : ''%>></span></div>
                                Most Recent
                            </label>
                            <label class="radio-inline color-revs daterange">
                                <div class="choice"><span class="<%=(filter=='daterange') ? 'checked' : ''%>"><input class="styled" name="tokenfilter" id="daterangeradio" value="daterange" type="radio" <%=(filter=='daterange') ? 'checked' : ''%>></span></div>
                                <input type="text" name="daterange" id="daterange" class="daterangeinput" autocomplete="off"/>
                            </label>
                          </div>
                        </div>
                      </form>                      
                      
                    </div>
                    <div class="col-md-3 text-center">
                      <h3 class="text-info"><%=session.user.token_balance %> STT</h3>
                      <p>Current</p>
                    </div>
                    <div class="col-md-3 text-center">
                      <h3 class="text-info">Static STT</h3>
                      <p>Lifetime</p>
                    </div>
                  </div>
                </div>
                <table class="table">
                  <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                  </tr>
                  <% 
                  if (tokens.length > 0) {
                    tokens.forEach((token) => { %>
                  <tr>
                    <% var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                      var dates = new Date(token.created_date);  
                    %>
                    <td><%=monthNames[dates.getMonth()]%> <%=dates.getDate()%>, <%=dates.getFullYear()%></td>
                    <td><%=token.description%></td>
                    <td><%= (token.operation=='plus') ? '+' : '-'%> <%=token.token_amount %></td>
                  </tr>
                  <% }) }else{ %>
                  <tr>
                    <td colspan="3" class="text-center">No Result Found.</td>
                  </tr>
                  <% } %>
                </table>
              </div>
              <!--/Panel Body-->
            </div>
            <!--/Panel-->
            <!--Pagignation-->
            <% if(page<total_pages){ %>
              <form method="get" id="pagination-form">
                <div class="text-center">
                  <input type="hidden" name="page" value="<%-page%>" id="page"/>
                  <input type="hidden" name="perpage" value="<%-perpage%>" id="perpage"/>
                  <nav aria-label="footer">
                    <ul class="pagination">
                      <li class="page-item" data-id="0"><a class="page-link" href="javascript:void(0)">First</a></li>
                      <%
                      var lastPage = Math.ceil(total_count/perpage);
                      var last = lastPage - 1;
                      for(k=0;k<lastPage;k++){ 
                      if(((k+3)==page) || ((k+2)==page) || ((k+1)==page) || (k==page) || ((k-1)==page) || ((k-2)==page) || ((k-3)==page)){
                      %>

                      <li class="page-item <% if(page==k){ %> active <%}%>" data-id="<%=k%>"><a class="page-link" href="javascript:void(0)"><%=k+1%></a></li>
                      <% } }%>
                      <li class="page-item" data-id="<%=last%>"><a class="page-link" href="javascript:void(0)">Last</a></li>
                    </ul>  
                  </nav>
                </div>
              </form>
            <% } %>
            <!--/Pagignation-->
          </div>          
        </div>
      </div>
    </section>
    <% include frontend/template/subfooter %>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script type="text/javascript">  
  $(document).ready(function(){
    $('.radio-inline').on('click',function(){
      $('input[name=tokenfilter]').parent('span').removeClass('checked');
      $(this).find('span').addClass('checked');
      if($(this).hasClass('mostrecent')){
        $("#mostrecentradio").attr('checked', 'checked');
        $("#search_form").submit();
      }else if($(this).hasClass('daterange')){
        $("#daterangeradio").attr('checked', 'checked');
      }
    });

    $('input[name="daterange"]').daterangepicker({
      timePicker: true,
      opens: 'left',
      startDate: moment().startOf('hour'),
      endDate: moment().startOf('hour').add(32, 'hour'),
      locale: {
        format: 'MMM DD, YYYY'
      }
    },function(start, end, label){
      //console.log('start'+start.format('YYYY-MM-DD'));
    });

    $('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
      console.log('Apply DateRange');
      console.log(picker.startDate.format('YYYY-MM-DD'));
      console.log(picker.endDate.format('YYYY-MM-DD'));
      $('#search_form').submit();
    });

    $(".pagination li").click(function(){
      $("#page").val($(this).attr('data-id'));
      $("#pagination-form").submit();
    });

    /*$('input[name=tokenfilter]').on('change',function(){
     // $('input[name=tokenfilter]').parent('span').removeClass('checked');
      //$(this).parent('span').addClass('checked');
      var selected_filter = $(this).val();
      console.log(selected_filter);
      if(selected_filter=='mostrecent'){
        //$("#search_form").submit();
      }
    });*/
  })
</script>
 </body>
</html> 