<!DOCTYPE html>
 <html lang="en">
  <head>
    <style>
        .inline-title{
             display: inline-block;
            font-size: 22px;
            color: #000;
            font-weight: 500;
            margin: 0px;
            padding: 0px;
        }

        .panel-heading .title_blue{
          font-size: 25px;
          font-weight: 500;
        }
        .switch {
          position: relative;
          display: inline-block;
          width: 55px;
          height: 29px;
        }

        .switch input {display:none;}

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 21px;
          width: 21px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }

        input:checked + .slider {
          background-color: #2196F3;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
        .thumbnail .upgrade{display: none;}
        .thumbnail:hover .upgrade{display: block;}
        .thumbnail:hover .thumbnail-inner{margin-top: -65px;}
        .thumbnail .caption{padding: 15px 0;}
        .thumbnail {border: 1px solid #ddd;border-radius: 5px;}
        .thumbnail .btn-upgrade_1{
            border-radius: 0;
            width: 100%;          
            background-color:#7c6738;
            color: #fff;
            font-size: 14px;
            padding: 5px 5px;
        }
        .upgrade.text-center p{
          margin: 0px;
          padding: 0px;
          color: #000;
          font-size: 14px;
        }

          .thumbnail .btn-upgrade_2{
            border-radius: 0;
            width: 100%;
            background-color:#86911f;
            color: #fff;
            font-size: 14px;
            padding: 5px 5px;
        }

        .thumbnail .btn-upgrade_3{
            border-radius: 0;
            width: 100%;
            background-color:#313e47;
            color: #fff;
            font-size: 14px;
            padding: 5px 5px;
        }


        .thumbnail .btn-upgrade_4{
            border-radius: 0;
            width: 100%;
            background-color:#d57f2a;
            color: #fff;
            font-size: 14px;
            padding: 5px 5px;
        }
   .caption.text-center span.rev-blue.text_blue {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 0px;
}

.current_text{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}
.billing_text{
  margin: 0px;
  padding: 0 0 3px 0;
  font-size: 14px;
  color: #000;
  font-weight: 300;
}


        .thumbnail .upgrade p{padding: 0px 5px 0px;margin-bottom: 10px;}
    </style>
    <% include frontend/template/head %>
  </head>
  <body>
    <% include frontend/template/subnav %>
    <section class="testimonial-section text-justify">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <% include frontend/template/error %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="inline-title">Membership Plan</h3>
                <h3 class="pull-right rev-blue weight-5 title_blue"><%=user.token_balance%> STT</h3>
              </div>
              <div class="panel-body">
                <div class="row">
               <div class="top_padding_md">
                  <% i=1;%>
                  <div class="col-md-12">
                    <div class="row">
                      <%
                      memberships.forEach(function(membership){ %>

                        <div class="col-md-3">
                          <div class="thumbnail top-thumbnail plan-div">
                            <div class="thumbnail-inner">
                              <img src="<%-base_url%>/frontend_assets/img/membership/<%-membership.membership_image%>" style="width: 100%" class="p-3 ">
                              <div class="caption text-center">
                                <span class="rev-blue text_blue"><%-membership.membership_title%></span>
                              </div>
                              <div class="upgrade text-center">
                                <p><%-membership.membership_cost%> STT/Month</p>
                                <%if(user.membership.id==membership.id){%>
                                  <button type="button" class="btn btn-default btn-upgrade_<%=membership.id%>">Current Plan</button>
                                <%}else{%>                             
                                  <button type="button" class="btn btn-default btn-upgrade_<%=membership.id%> changeplan" data-id="<%=membership.id%>" data-plan="<%=membership.membership_title%>">Upgrade Plan</button>
                                <%}%>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% }) %>
                    </div>
                  </div>
                    </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="plan-current row">

                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-6 pl-0">
                        <b>
                          <div class="mb-3 current_text">Current Plan:</div>
                        </b>
                      </div>
                      <div class="col-lg-9 col-md-6 col-sm-6 col-xs-6 col-6">
                        <div class="mb-3 billing_text"><%=user.membership.membership_title%></div>
                      </div>

                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-6 pl-0">
                        <b>
                          <div class="mb-3 current_text">Next Billing Cycle:</div>
                        </b>
                      </div>
                      <div class="col-lg-9 col-md-6 col-sm-6 col-xs-6 col-6">
                        <div class="mb-3 billing_text"><%=user.next_billing_cycle%></div>
                      </div>

                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-6 pl-0">
                        <b><div class="mb-3 current_text">Upcoming Plan:</div></b>
                      </div>
                      <div class="col-lg-9 col-md-6 col-sm-6 col-xs-6 col-6">
                        <div class="mb-3 billing_text upcoming-plan">
                        <%if(user.auto_renew==1){%><%=next_membership_plan%>&nbsp;(<%=next_membership_plan_cost%>&nbsp;STT/Month)
                        <%}else{%><%=basic_plan%>(<%=basic_plan_cost%>STT/Month)<%}%>
                        </div>
                      </div>

                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-6 pl-0">
                        <b>
                          <div class="mb-3 current_text">Auto Renew:</div>
                        </b>
                      </div>
                      <div class="col-lg-9 col-md-6 col-sm-6 col-xs-6 col-6">
                        <div class="mb-3">
                          <label class="switch">
                            <input type="checkbox" class="membership-auto-renew" <%= (user.auto_renew==0) ? '' : 'checked'%> value="<%= user.auto_renew%>" userId="<%= user.id %>" >
                            <span class="slider round"></span>
                          </label>
                        </div>
                      </div>

                    </div>
                </div>
              </div>
              <% include frontend/template/membershipconfirmationmodal %>  
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <% include frontend/template/subfooter %>
    <script src="/js/validation/profilevalidation.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
      $(document).on('click','.changeplan',function() {
        var plan_id = $(this).data('id');
        var plan_name = $(this).data('plan');

        <%if(user.membership.id==1){%>
          var text = 'Are you sure you want to change your current plan to <b>'+plan_name+' plan </b> ?';
          <%}else{%>
          var text = 'Are you sure you want to change your current plan to <b>' + plan_name +'</b> plan? The new plan will start on the 1st of the next month. Please make sure you have enough tokens in your wallet to activate else you will be switched to <b>Hummingbird </b> plan.';
        <%}%>

        $('#ConfirmModel .upgrade-msg').html(text);
        $('#ConfirmModel .confirm-plan').attr('data-pln',plan_id);
        $('#ConfirmModel').modal();

      });

      $(document).on('click','.confirm-plan',function(){
        var dataid = $(this).data('pln');
        var redirectto = '<%=base_url%>/upgradeMembership?id='+dataid;
        window.location.assign(redirectto);
      });

      $(document).ready(function(){
        $('.upgradebtn').on('click',function(){
          $('#ConfirmModel').modal();
        });

        $('.membership-auto-renew').change(function() {
          var userId = $(this).attr('userId');
          var toggle_value = $(this).val();
          $.ajax({
            type: "POST",
            url: '/setMembershipAutoRenew',
            data: {is_checked: $(this).prop('checked'), userId: userId, toggle_value: toggle_value},
            success: function(data){
              if(data.status=='true'){
                $('div.upcoming-plan').html(data.data.title+'&nbsp;('+data.data.cost+'&nbsp;STT/Month)');
              }
            },
            error: function(){
              console.log('error');
            }
          });
        });

        $("#token_amount").blur(function(){
          var amount = $(this).val();
          var token_price=parseFloat($(".token_price").val());
          console.log(token_price);
          var bill = amount*token_price;
          console.log(bill);
          $(".cost_pay").html(bill);
          $(".cost_amount").val(bill);
        });
      });
    </script>
  </body>
 </html>